<div id="container">
  <button class="keyboardNumbers" id="key1" value="1"><h1>1</h1></h1>
  <button class="keyboardNumbers" id="key2"  value="2"><h1>2</h1></button>
  <button class="keyboardNumbers" id="key3" value="3"><h1>3</h1></button>
  <button class="keyboardNumbers" id="key4" value="4"><h1>4</h1></button>
  <button class="keyboardNumbers" id="key5" value="5"><h1>5</h1></button>
  <button class="keyboardNumbers" id="key6" value="6"><h1>6</h1></button>
  <button class="keyboardNumbers" id="key7" value="7"><h1>7</h1></button>
  <button class="keyboardNumbers" id="key8" value="8"><h1>8</h1></button>
  <button class="keyboardNumbers" id="key9" value="9"><h1>9</h1></h1>

</div>

<style>
  #container{
  width: 90%;
  height: 6vh;
  margin-top: 3vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
  margin-right: auto;
  margin-left: auto;
  }
  button{
  background: transparent;
  outline: none;
  border: none;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
</style>